body {
  color: white;
  background-color: black;
}

.title {
  font-size: 3rem;
  font-family: 'Noto Sans', sans-serif;
}

#lettera, #letterc {
  font-family: 'Noto Sans';
}

/* 0.75rem(12px) @ 18.75rem(300px) increasing to 4rem(64px) @ 240rem(3840px) */
@media (min-width: 18.75rem) {
  :root {
    font-size: calc(0.75rem + ((1vw - 0.1875rem) * 1.4689));
    /* Where: * 1.4689 = 100 * font_Size_Difference / viewport_Width_Difference */
  }
}

/* Prevent font scaling beyond this breakpoint */
@media (min-width: 240rem) {
  :root {
    font-size: 4rem;
  }
}
